<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Wishlist{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="corner-plant" id="cornerPlant"></div>



    <main class="container" style="padding-top:2rem;">
        {% block content %}{% endblock %}
    </main>

    <!-- 🌿 Скрипт выбора растения -->
    <script>
      const plants = [
        "/static/images/plant1.png",
        "/static/images/plant2.png",
        "/static/images/plant3.png",
        "/static/images/plant4.png",
        "/static/images/plant5.png",
        "/static/images/plant6.png",
        "/static/images/plant7.png"
      ];

      const chosen = plants[Math.floor(Math.random() * plants.length)];

      const plantDiv = document.getElementById("cornerPlant");
      plantDiv.style.backgroundImage = `url("${chosen}")`;
    </script>

</body>
</html>
