<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body style="font-family:sans-serif; display:flex; justify-content:center; margin-top:50px;">
<div style="width:400px; border:1px solid #ccc; padding:2rem; border-radius:8px;">
    <h2 style="text-align:center;">Смена пароля</h2>

    {% if message %}
    <p style="color:{{ message_color }}; text-align:center;">{{ message }}</p>
    {% endif %}

    <form method="post" action="/reset-password">
    <input type="hidden" name="access_token" id="access_token">
    <input type="password" name="password" placeholder="Новый пароль" required>
    <input type="password" name="password_confirm" placeholder="Повторите пароль" required>
    <button type="submit">Сменить пароль</button>
    </form>

    <script>
        const hash = window.location.hash.substring(1);
        const params = new URLSearchParams(hash);
        const accessToken = params.get("access_token");

        if (!accessToken) {
            alert("Токен не найден");
        } else {
            document.getElementById("access_token").value = accessToken;
        }
    </script>

   
</div>
</body>
</html>
